.App {
  text-align: center;
  justify-content: center;
}

.taskList {
  margin: 0 auto;
  margin-top: 7%;
  padding: 20px;
  width: 33%;
}

.taskList > input {
  width: 252px;
  padding: 8px 7px 8px 7px;
}
.taskListContainer {
  display: flex;
}
.addTaskBtn {
  padding: 8px 33px;
  background: #168761;
  border: unset;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}
.task {
  border: 1px solid #d5d5d5;
  margin: 39px 0px 62px 0px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.actions {
  display: inline-block;
  float: right;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
